<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Home | Belajar Basic Web Development</title>
</head>

<body>
 <!--   Navbar -->
 <div class="container">
    <nav class="navbar navbar-expand navbar-light bg-light shadow shadow-sm mb-2 px-2">
      <a class="navbar-brand" href="index.html">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8LCPKz65jF_HY5umnSKeTm79gXhhpoOA_MWiJxcgtZA&s" width="60px" height="auto"
          class="d-inline-block align-top" alt="">
      </a>
      <div class="" id="navbarNav">
        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a class="nav-link" href="cv.html">Daftar Riwayat Hidup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="formemail.html">Hubungi saya</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Navbar End  -->
  
    <div class="container mt-5">
        <div class="card">
            <div class="card-body text-center">
                <img class="rounded-circle img-fluid" style="width: 150px;"
                src="C:\Users\ip3pf\Downloads\Foto.jpg">
                <h2 class="my-0">Fitri Ademia Rachma</h2>
                <p class="text-muted mb-2">Mahasiswa S-1 Matematika Universitas Jenderal Soedirman</p>
                <div class="border-top p-1"></div>
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p>Email</p>
                        <h6 class="text-muted">fitriademia3@gmail.com</h6>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p>Phone</p>
                        <h6 class="text-muted">0882007857074</h6>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p>Address</p>
                        <h6 class="text-muted">Jawa Tengah, Indonesia</h6>
                    </div>
                </div>             
            </div>
        </div>
        <div class="card">
            <div class="col-sm-12">
                <div class="card-block p-4">
                    <h3 class="mb-2">Tentang</h3>
                    <div style="text-align: justify;" class="border-top p-2">
                     <p>Mahasiswa program studi matematika Fakultas Matematika dan Ilmu 
                        Pengetahuan Alam Universitas Jenderal Soedirman. Memiliki Indeks 
                        Prestasi Kumulatif (IPK) 2,82. Mengambil perminatan di bidang 
                        statistika dan komputasi. Memiliki keterampilan untuk bekerja di 
                        dalam tim, ditunjukkan dengan bergabung pada beberapa kegiatan 
                        selama di bangku perkuliahan.</p>
                    </div>
                    <h3 class="mb-2">Pendidikan</h3>
                    <div class="border-top p-2">
                        <div class="row mb-2">
                            
                                <table>
                                    <tr>
                                        <td>S-1 Matematika Universitas Jenderal Soedirman</td>
                                        <td style="text-align: left;">IPK : 2.84</td>
                                    </tr>
                                    <tr>
                                        <td>SMAN 2 Kota Tegal</td>
                                        <td style="text-align: left">Nilai rata-rata : 89</td>
                                    </tr>
                                </table>
                            
                        </div>
                    </div>
                    <h3 class="mb-2">Pengalaman Organisasi dan Kepanitiaan</h3>
                    <div class="border-top p-2">
                        <div class="mb-1">
                            <h5>Lembaga Pers Mahasiswa (LPM) Sketsa Unsoed</h5>
                            <h6>Redaktur Pelaksana Cetak (Maret 2022-Desember 2023)</h6>
                            <div class="border-top p-1">
                                <ul>
                                    <li style="text-align: justify"><p>Bertanggung jawab atas penyusunan dan penerbitan produk LPM Sketsa.</p></li>
                                    <li style="text-align: justify">Bersama tim penyusun, menyusun minimalnya satu produk cetak pada satu periode kepengurusan.</li>
                                    <li style="text-align: justify">Sebagai awak redaksi, melakukan lebih dari enam kali proses liputan. Dengan isu yang berbeda-beda, di luar pengerjaan produk cetak.</li>
                                </ul>
                            </div>              
                            <h5>Teater Receh FMIPA</h5>
                            <h6>Sie. Kerumahtangaan</h6>
                            <div class="border-top p-1">                               
                                <ul>
                                    <li style="text-align: justify">Bertanggung jawab atas semua barang inventarisasi Teater Receh.</li>
                                    <li style="text-align: justify">Membantu lebih dari lima pihak eksternal Teater Receh untuk penyewaan dan peminjaman barang inventarisasi Teater Receh.</li>
                                </ul>   
                            </div>
                            <h5>Laboratorium FMIPA</h5>
                            <h6>Sie. Acara</h6>
                            <div class="border-top p-3">
                                <ul>
                                    <li style="text-align: justify">Laboratorium FMIPA merupakan rangkaian penyambutan dan pengenalan lingkungan kampus FMIPA Unsoed untuk mahasiswa baru.</li>
                                    <li style="text-align: justify">Bertanggung jawab atas penyusunan susunan acara, memastikan kesedian dan kehadiran pengisi acara, dan memastikan seluruh agenda berjalan dengan lancar sesuai susunan acara yang telah dibuat.</li>
                                </ul>   
                            </div>
                            <h5>Bakti Sosial (Baksos) FMIPA</h5>
                            <h6>Sie. Kajian</h6>
                            <div class="border-top p-3">
                                <ul>
                                    <li style="text-align: justify">Bakti sosial FMIPA merupakan kepanitiaan yang diselenggarakan oleh kementrian sosial dan politik Badan Eksekutif Mahasiswa (BEM) FMIPA. Diselenggarakan satu kali setiap tahun pada desa tertinggal di daerah sekitar. Pada tahun 2022, diselenggarakan di Desa Kabunderan Kabupaten Purbalingga.</li>
                                    <li style="text-align: justify"> Staff sie. kajian bertugas untuk melakukan survei di desa-desa yang memungkinkan dijadikan sebagai tempat acara. Dalam hal ini, dilakukan survei pada tiga desa, kemudian dipilih Desa Kabunderan Kabupaten Purbalingga yang dijadikan sebagai mitra desa Baksos FMIPA 2022.</li>
                                    <li>Staff Sie. Kajian bertugas untuk menentukan kegiatan yang sesuai dengan kebutuhan dan potensi mitra desa.</li>
                                </ul>   
                            </div>
                        </div>
                    </div>
                    <h3 class="mb-2">Ketrampilan</h3>
                    <div class="border-top p-2">
                        <ul>
                                <li>Makro Ms.Excel</li>
                                <li>Minitab</li>
                                <li>SPSS</li>
                                <li>Pengelolaan Data</li>
                                <li>Kemampuan Analisis</li>
                        </ul>
                    </div>
                        
                </div>
            </div>
        </div>
    

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
	</div>
</body>

</html>