<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

 
  <title>Home | Website Pribadi</title>
</head>

<body>
  <!--   Navbar -->
  <div class="container">
    <nav class="navbar navbar-expand navbar-light bg-light shadow shadow-sm mb-2 px-2">
      <a class="navbar-brand" href="index.html">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8LCPKz65jF_HY5umnSKeTm79gXhhpoOA_MWiJxcgtZA&s" width="60px" height="auto"
          class="d-inline-block align-top" alt="">
      </a>
      <div class="" id="navbarNav">
        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/profile">Daftar Riwayat Hidup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="formemail.html">Hubungi saya</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Navbar End  -->

  <div class="container">
    <div class="card p-5">
      <h1 class="text-center" style="font-family: fantasy-papirus;">Selamat datang di website pribadi saya.</h1>
      <p name="isi" style="font-family: Monospace-Monaco; font-size: 20;" class="text-center">Didalam website ini, terdapat daftar riwayat hidup dan formulir pengiriman email bagi Anda yang hendak menghubungi saya lebih lanjut.</p>
      <p id="penutup" style="font-family: Monospace-Monaco; font-size: 20;" class="text-center">Terimakasih</p>
      </ol>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>